{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Q3_POC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <form class="d-flex" onsubmit="event.preventDefault(); search_user()">
        <input id="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="nav-link border-0" id="home_btn" aria-current="page">Home</button>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><button class="dropdown-item" id="profile_btn">Profile</button></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href={{ url_for('signout') }}>Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
        <div class="text-center"><h3>
            {% for msg in get_flashed_messages() %}
            <div class="alert alert-danger">{{ msg }}</div>
            {% endfor %}
        </h3></div>
<div id="mainbody"></div>
<script>
    function search_user() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', {{ url_for('search') }}+JSON.stringify({
            email:document.getElementById("search").value
        }),true);
        xhr.onload = function () {
            if(this.status === 200){
                var body = document.getElementById("mainbody");
                body.innerHTML = this.responseText;
            }
        };
        xhr.send();
    }

    var profile_btn = document.getElementById("profile_btn");
    profile_btn.addEventListener('click', loadProfile);

    function loadProfile() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', {{ url_for('profile') }}, true);
        xhr.onload = function () {
            if(this.status === 200){
                var body = document.getElementById("mainbody");
                body.innerHTML = this.responseText;
            }
        };
        xhr.send();
    }

    var home_btn = document.getElementById("home_btn");
    home_btn.addEventListener('click', function () {
        document.getElementById("mainbody").innerHTML = "";
    });

    //var profileform = document.getElementById("updateProfileForm");
    //profileform.addEventListener('submit', function (evt) {
    function updateprofile(evt){
        evt.preventDefault();
        var xhr = new XMLHttpRequest();
        console.log(document.getElementById("profiledp"));
        console.log(JSON.stringify({
            name:document.getElementById("profileusername").value,
            email:document.getElementById("profileemail").value,
            password:document.getElementById("profilepassword").value,
            dp:document.getElementById("profiledp"),
        }));
        xhr.open('GET', {{ url_for('profile') }}+JSON.stringify({
            name:document.getElementById("profileusername").value,
            email:document.getElementById("profileemail").value,
            password:document.getElementById("profilepassword").value,
        }));
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        console.log("Inside UPDATE");
        xhr.send();
        xhr.onload = function () {
            if(this.status === 200){
                var body = document.getElementById("mainbody");
                body.innerHTML = this.responseText;
            }
        };
    }

    function changedp() {
        var result = '';
        var reader = new FileReader();
        reader.readAsDataURL(document.getElementById("profiledp").files[0]);
        reader.onloadend = function(){
            result = reader.result;
            document.getElementById("userdp").src = result;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/images", true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8')
            var params = "result="+toString(result);
            xhr.onload = function () {
                console.log("IMAGE SENT TO IMAGE_LOADER");
            };
            //console.log(encodeURI(result));
            xhr.send(params);
        };
    }
</script>
{% endblock %}
