<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="text-center"><h3>
            {% for msg in get_flashed_messages() %}
            <div class="alert alert-danger">{{ msg }}</div>
            {% endfor %}
        </h3></div>
        <div class="col-sm-10"><h1>Update Profile</h1></div>
    </div>
    <div class="row">
  		<div class=""><!--left col-->


      </hr><br>

        </div><!--/col-3-->
          <div class="tab-content">
            <div class="tab-pane active" id="home"><div class="text-center"><br>
              <img id="userdp" src={{ user.dp }} class="col-sm-3 avatar img-circle img-thumbnail" ><br>
                {{ form.dp.label(class="btn-success btn-sm fadeIn fourth", for="profiledp")}}
                <!--input id="choosedp" type="file" class="text-center center-block file-upload" style="visibility: hidden"-->

                <form method="POST"  enctype="multipart/form-data" id="updateProfileForm" onsubmit="event.preventDefault(); updateprofile(event)">
                    <div class="form-group">
                    {{ form.dp(class="fadeIn fourth", style="visibility:hidden", id="profiledp", oninput="changedp()")}}
                    </div>
                    <br>
                    <div class="form-group">
                        {{ form.name.label}}<br>{{ form.name(placeholder="Username", class="col-sm-9", value=user.name, title="Edit to change Username", id="profileusername")}}<br><br>
                    </div>
                    <div class="form-group">
                        {{ form.email.label}}<br>
                        {{ form.email(placeholder="Email", class="col-sm-9", value=user.email, title="Edit to change Email", id="profileemail")}}<br><br>
                    </div>
                    <div class="form-group">
                        {{ form.password.label}}<br>
                        {{ form.hidden_tag() }}
                        {{ form.password(placeholder="Password", class="col-sm-9", title="Change Password or Use the current Password", id="profilepassword")}}<br><br>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                        </div>
                    </div>
                </form>
                <hr>

              <hr>
             </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</div>