<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="text-center"><h3>
            {% for msg in get_flashed_messages() %}
            <div class="alert alert-danger">{{ msg }}</div>
            {% endfor %}
        </h3></div>
        <div class="col-sm-10"><h1>Search Result:</h1></div>
    </div>
    <div class="row">
  		<div class=""><!--left col-->


      </hr><br>

        </div><!--/col-3-->
          <div class="tab-content">
            <div class="tab-pane active" id="home"><div class="text-center"><br>
              <img id="userdp" src={{ user.dp }} class="col-sm-3 avatar img-circle img-thumbnail" ><br>
                <form>
                    <br>
                    <div class="form-group">
                        {{ form.name.label}}<br>{{ form.name(placeholder="Username", class="col-sm-9", value=user.name, disabled="true")}}<br><br>
                    </div>
                    <div class="form-group">
                        {{ form.email.label}}<br>
                        {{ form.email(placeholder="Email", class="col-sm-9", value=user.email, id="profileemail", disabled="true")}}<br><br>
                    </div>
                </form>
                <hr>

              <hr>
             </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
</div>