{% extends "base.html" %}

{% block bootstrap %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block title %}
    Log In
{% endblock %}

{% block content %}

        <div class="text-center"><h3>
            {% for msg in get_flashed_messages() %}
            <div class="alert alert-danger">{{ msg }}</div>
            {% endfor %}
        </h3></div>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"></path>
      </svg>
    </div>

    <!-- Login Form -->
    <form method="post" action="" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.email(placeholder="email", class="fadeIn second")}}<br>
        {{ form.hidden_tag() }}
        {{ form.password(placeholder="password", class="fadeIn third")}}<br>
        <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href={{ url_for('signup') }}>Sign Up</a>
    </div>

  </div>
</div>
{% endblock %}
