{% extends "base.html" %}

{% block bootstrap %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}

        <div class="text-center"><h3>
            {% for msg in get_flashed_messages() %}
            <div class="alert alert-danger">{{ msg }}</div>
            {% endfor %}
        </h3></div>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <br><br>
    <!-- Login Form -->
    <form method="post" action="" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.name(placeholder="Username", class="fadeIn first")}}<br>
        {{ form.email(placeholder="Email", class="fadeIn second")}}<br>
        {{ form.hidden_tag() }}
        {{ form.password(placeholder="Password", class="fadeIn third")}}<br>
        {{ form.dp.label(class="fadeIn fourth")}}{{ form.dp(class="fadeIn fourth", style="visibility:hidden;")}}<br>
        <input type="submit" class="fadeIn fourth">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href={{ url_for('signin') }}>Log In</a>
    </div>

  </div>
</div>
{% endblock %}
